$top-panel-height: 18%;

$title-section-height: 65%;
$button-section-height: (100% - $title-section-height);

.scene {
  width: $scene-width;
  height: 100%;
  position: relative;
}

// Displayed when no scene is selected
.noActiveSceneOverlay {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: mix($color-black, $color-white, 10%);

  span {
    font-family: $font-secondary;
    letter-spacing: 0.2px;
    font-size: 1.35rem;
  }
}

// Top panel, divided into two sections
.infoSection {
  height: $top-panel-height;

  background-color: lighten($color-gray, 40%);
  border-bottom: 1px solid lighten($color-gray, 15%);

  font-family: $font-primary;
  font-size: 1.4rem;
}

.titleSection {
  height: $title-section-height;

  display: flex;
  justify-content: center;
  align-items: center;

  .type {
    letter-spacing: 0.1px;
  }
  .title {
    margin-left: 15px;
  }
}

.buttonSection {
  height: $button-section-height;

  display: flex;
  justify-content: center;

  .customButton {
    border-radius: 2%;
    padding: 6px 9px;
  }
}

// Actual sounds and stuff, below the top panel
.soundContainer {
  padding: $scene-sound-container-padding;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .fab {
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}
