// Flex shorthand classes

.flex {
  display: flex !important;

  // common: completely centered
  &-c1 {
    @extend .flex;
    justify-content: center;
    align-items: center;
  }
}

.wrap {
  flex-wrap: wrap;

  &-reverse {
    flex-wrap: wrap-reverse;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}

.col {
  flex-direction: column;
  &-reverse {
    flex-direction: column-reverse;
  }
}
.row {
  flex-direction: row;
  &-reverse {
    flex-direction: row-reverse;
  }
}
