// Resets and common fixes

body {
  font-family: $font-secondary;
  font-weight: $font-secondary-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
  font-weight: $font-primary-normal;
}

#root {
  height: 100%;
  width: 100%;
}
