// Two parts: actBar and sceneList
@import 'SidebarVars.scss';

.sidebar {
  width: $sidebar-width;
  min-width: $sidebar-min-width;
  max-width: $sidebar-max-width;
  height: 100%;

  border-right: 2px solid $color-gray;
}

// Divided into sections: actInfo and icons
.actBar {
  height: $act-info-height;
  padding: 4px 8px;
}

.sceneList {
  height: $scene-list-height;
}
