.sound {
  position: relative;

  min-height: 115px;
  min-width: 190px;

  width: calc(50% - #{$card-margin * 2});
}

.title {
  font-size: 1.3rem;
  font-weight: $font-primary-normal;
  letter-spacing: 0.25px;
}

.remove {
  position: absolute;

  top: 0;
  right: 0;
}
